<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihui.auth.dao.UserMapper">
    <select id="getUserByUsername" resultType="com.qihui.auth.model.SysUserDO">
        SELECT
        *
        from sys_user u
        WHERE
        u.username=#{loginName,jdbcType=VARCHAR}
    </select>
</mapper>